{%- comment -%} Determine Post URL {%- endcomment -%}
{%- assign post_url = post.url | relative_url -%}

<div class="col-lg wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ post_url }}" class="project card text-themed no-underline">
    {%- if post.picture -%}
    <img class="card-img-top" src="{{ post.picture }}" alt="{{ post.title }}" />
    {%- endif -%}
    <div class="card-body text-themed">
      <h3 class="card-title">{{ post.title }}</h3>
    </div>
    <div class="card-footer text-themed">
      {{ post.description }}
    </div>
  </a>
</div>
