---
---
/* Add your custom style here */
@import "portfolYOU";

.project {
  img.card-img-top {
    margin: auto;
  }

  .card-footer {
    &:last-child {
      border-radius: 0 0 14px 14px;
    }
  }
}

.markdown-body {
  text-align: justify;

  img.person {
    max-width: 20%;
    float: left;
    margin: 1rem;
  }

  img.illustration-right {
    max-width: 30%;
    float: right;
    margin: 1rem;
  }

  img.illustration-left {
    max-width: 30%;
    float: left;
    margin: 1rem;
  }
}

.markdown-body table:not(.highlight) {
  margin-left: auto;
  margin-right: auto;
  display: table;
}
